*{
	font-family: "helvetica";
}

main{
	margin: 20px;
}
	
header{
	background-color: black;
	color:white;
	padding:10px;
}
footer{
	background-color: black;
	color:white;
}

section{
	border:2px solid grey;
	padding:20px;
}

p{
	color: grey;
}

button{
	color: black;
}

input{
	color: grey
}